.logo {
    font-size: 25px;
    font-weight: bold;
}

.center-cards {
  display: flex;
  flex-direction: column; /* stack vertically */
  align-items: center;   /* center horizontally */
  gap: 1rem;             /* space between cards */
  margin-top: 2rem;
}

.card-red {
    background-color: #BA1104
}

.cream-text {
    color: #E9EFCB;
}

.align-right {
  display: flex;
  justify-content: flex-end; /* push to the right */
  margin-top: auto;          /* push it to the bottom if card grows */
}
