.btn-red {
    background-color: #BA1104;
    color: #E9EFCB;
    border-radius: 25px;
    font-size: 20px;
    font-weight: 600;
    padding: 10px 20px 10px 20px;
}

a.link-red {
    color: #BA1104 !important;
    text-decoration: underline;
}

a.link-red:hover {
    color: #440000;
    text-decoration: none;
}

.nav-btn {
    color: #BA1104;
    font-size: 15px;
    font-weight: 600;
}