.btn-red {
    background-color: #BA1104;
    color: #E9EFCB;
    border-radius: 25px;
    font-size: 20px;
    font-weight: 600;
    padding: 10px 20px 10px 20px;
}

.btn-red-outline {
    background-color: transparent;
    color: #BA1104;
    border: 2px solid #BA1104;
    border-radius: 25px;
    font-size: 20px;
    font-weight: 600;
    padding: 10px 20px 10px 20px;
}

a.link-red {
    color: #BA1104 !important;
    text-decoration: underline;
}

a.link-red:hover {
    color: #440000;
    text-decoration: none;
}

.btn-green {
    background-color: #1F662E;
    color: #DDECC6;
    border-radius: 25px;
    font-size: 20px;
    font-weight: 600;
    padding: 10px 20px 10px 20px;
}

.btn-green-outline {
    background-color: transparent;
    color: #1F662E;
    border: 2px solid #1F662E;
    border-radius: 25px;
    font-size: 20px;
    font-weight: 600;
    padding: 10px 20px 10px 20px;
}

a.link-green {
    color: #1F662E !important;
    text-decoration: underline;
}

a.link-green:hover {
    color: #1F662E;
    text-decoration: none;
}


.nav-btn {
    color: #BA1104;
    font-size: 15px;
    font-weight: 600;
}