.christmas-carousel {
    padding-bottom: 10vh;
}

.nav-sign-up {
    background-color: #BA1104;
    color: #E9EFCB;
    border-radius: 25px;
    font-size: 15px;
    font-weight: 600;
    padding: 8px 15px 8px 15px;
}

h1{
    font-size: 36px;
    font-weight: 600;
    color: #BA1104;
}

.secretsanta-logo {
    color: #1F662E !important;
    font-weight: 800;
    font-size: 28px;
}

a.no-underline {
    text-decoration: none;
}

.login-btn {
    color: #BA1104;
    font-size: 15px;
    font-weight: 600;
}