.christmas-carousel {
    padding-bottom: 10vh;
}

.btn-sign-up {
    background-color: #BA1104;
    color: #E9EFCB;
    border-radius: 25px;
    font-size: 20px;
    font-weight: 600;
    padding: 10px 20px 10px 20px;
}

.nav-sign-up {
    background-color: #BA1104;
    color: #E9EFCB;
    border-radius: 25px;
    font-size: 20px;
    font-weight: 600;
    padding: 10px 20px 10px 20px;
}

h1{
    font-size: 36px;
    font-weight: 600;
    color: #BA1104;
}

.secretsanta-logo {
    color: #1F662E !important;
    font-weight: 800;
    font-size: 28px;
}
