{% extends 'logged_in_base.html' %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'dashboard.css' %}">
{% endblock %}

{% block body %}

<div class="container-fluid dashboard">
    <div class="container">
        <div class="row h-100">

            {% if member_groups.count == 0 %}

                <div class="d-flex justify-content-center align-items-center" style="height: 80vh;">
                    <div class="col-12 text-center">
                        <h2>Welcome, {{ user.first_name }}!</h2>
                        <p>You are not part of any groups yet. Start by creating or joining a group!</p>

                        <a type="button" class="btn btn-red"
                           data-bs-toggle="modal"
                           data-bs-target="#createGroupModal">
                           Create Group
                        </a>

                        <a type="button" class="btn btn-red"
                           data-bs-toggle="modal"
                           data-bs-target="#joinGroupModal">
                           Join Group
                        </a>
                    </div>
                </div>

            {% else %}

                <div class="col-md-6 left-column">
                    {% include 'includes/group_members.html' %}
                </div>

                <div class="col-md-6 right-column">
                    {% include 'includes/my_wishlist.html' %}
                </div>

            {% endif %}

        </div>
    </div>
</div>

{% endblock %}