{% extends 'base.html' %}
{% block body %}
<div class="container">
    <div class="row">
        <div class="col-8 mx-auto">
            <div class="text-center mt-3">
                <h1>Welcome back!</h1>
            </div>
            <form action="{% url 'log_in' %}" method="post">
                {% csrf_token %}
                {% include 'partials/bootstrap_form.html' with form=form %}
                {% include 'partials/messages.html' with messages=messages %}
                <div class="text-center">
                    <input type="submit" value="Log In" class="btn btn-red" style="width:18rem;">
                </div>
            </form>
            <div class="text-center mt-3">
                <p>Don't have an account? Sign Up <span><a href="{% url 'sign_up' %}" class="link-red">Here.</a></span></p>
                <a href="#" class="link-red">Forgot Password?</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}