{% extends 'logged_in_base.html' %}
{% block body %}
<div style="text-align: center;">
    <h1>MY GROUPS</h1>
</div>

<div class="center-cards">
    {% for group in member_groups %}
    <div class="card card-red" style="width: 50rem; height: auto;">
       
        <div class="card-body cream-text row">
            <div class="col-12 col-md-9">
                <h3 class="card-title">{{ group.name }}</h3>
                <h6 class="card-subtitle mb-2">Code: {{ group.code }}</h6>
                <p class="card-text">Members: {{ group.memberships.count }}</p>
            </div>
            <div class="col-6 col-md-3">
                <!-- if user is the admin, show the generate button -->
                {% if user == group.admin %}
                    <form action="{% url 'generate_assignments' group.id %}" method="post" style="display:inline;">
                        {% csrf_token %}
                        {% include 'partials/messages.html' with messages=messages %}
                        <button type="submit" class="btn btn-red">Generate</button>
                    </form>
                {% endif %}
                <!-- Button trigger modal -->
                <button type="button" class="btn btn-red" data-bs-toggle="modal" data-bs-target="#whoDidIDrawModal">
                    Who did I draw?
                </button>
                <!-- Modal -->
                <div class="modal fade" id="whoDidIDrawModal" tabindex="-1" aria-labelledby="whoDidIDrawModalLabel" aria-hidden="true">
                    <!-- Vertically centered modal -->
                    <div class="modal-dialog modal-dialog-centered">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h1 class="modal-title fs-5" id="whoDidIDrawModalLabel">Who Did I Draw?</h1>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                {% if group.assigned_receiver %}
                                    <p> {{ group.assigned_receiver.first_name }} {{ group.assigned_receiver.last_name }}</p>
                                {% else %}
                                    <p><em>Assignments have not been generated yet.</em></p>
                                {% endif %}
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            </div>
                        </div>
                </div>
                </div>
                <a class="btn btn-red" 
                    data-bs-toggle="collapse" 
                    data-bs-target="#groupMembersToggle{{ group.id }}" 
                    role="button" 
                    aria-expanded="false" 
                    aria-controls="groupMembersToggle{{ group.id }}">
                    <img src="/static/images/chevron-down.png">
                </a>
            </div>
            <div class="collapse" id="groupMembersToggle{{ group.id }}">
                <div class="card card-red card-body cream-text">
                    <ul>
                        {% for membership in group.memberships.all %}
                            <li>
                                {{ membership.user.username }}
                                {% if membership.is_admin %}
                                    <span class="badge bg-warning text-dark">Admin</span>
                                {% endif %}
                            </li>
                        {% empty %}
                            <li>No members yet</li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
    {% empty %}
    <div class="card card-red cream-text">
        <div class="card-body">
            You aren't in any groups yet.
        </div>
    </div>
    {% endfor %}
    </br>

</div>




{% endblock %}