{% extends 'logged_in_base.html' %}
{% block body %}
<div class="md-3">

    <div class="card">
        <div class="card-body">
            <div class="row row-cols-1 row-cols-md-2 g-4">
                <div class="col">
                    <h3 class="card-title">Group Name:</h3>
                    <h5 class="card-text">Group Code:</h5>
                </div>
                <div class="col">
                    <h5 class="card-text">Group QR:</h5>
                </div>
            </div>


        </div>
    </div>
</div>



{% endblock %}
